[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pathlib2" = {version = "*", python_version = "== '2.7'"}
simplejson = "*"

[dev-packages]
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-isort" = "*"
"pep8-naming" = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
tox = "*"
codecov = "*"
